@{ 
    Layout = "_Layout";
}
@model LecturePublicViewModel


<h1>Commentaire :</h1>

<form asp-action="ConfirmationCommentaire" method="post">


    <div class="mb-3">
        <label asp-for="Pseudo" class="form-label">
            Peudo :
        </label>
        <input class="form-control form-control-sm" type="text" asp-for="Pseudo" value="@Model.Pseudo">

    </div>
    <div class="mb-3">
        <label asp-for="Commentaire1" class="form-label">
            Commentaire :
        </label>

        <textarea class="form-control" asp-for="Commentaire1" rows="3" value="@Model.Commentaire1"></textarea>
    </div>
    <input type="submit" value="Confirmer" />
</form>